<footer>
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
    <a href="/"><img class="logo" src="/images/imagenFooter.png" alt=""></a>
    <ul class="redes">  
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fab fa-github"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
    </ul>
    <ul class="menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="/us">Nosotros</a></li>
        <li><a href="/contact">Contacto</a></li>
    </ul>
    <p>©2024 GABRIEL GAITAN │ todos los derechos reservados </p>
</footer>