<script type='text/javascript' src='/js/menu.js'></script>
<header>
    <div class="contHeader">
        <a href="/"><img class="logo" src="images/imagenHeader.png" alt=""></a>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="navbar">
            <ul class="contenido">
                <li> <a href="/" >Inicio</a> </li>
                <li> <a href="/us">Nosotros</a> </li>
                <li> <a href="/contact">contacto</a> </li>
            </ul>
        </div>
    </div>
</header>
