<!DOCTYPE html>
<html lang="en">
    
<%- include('./partials/head',{url:"/css/index.css"}) %>
<body>
    <%- include('./partials/header') %>
        <main>
            <!-- Secciones de contenido -->
            <div class="content-wrapper">
            <!-- Quiénes Somos -->
                <div class="section">
                    <h2>IMPORTANTE</h2>
                    <p>En la vista de nosotros se encontrara el video que explica el proceso de como se creo la pagina, espero sea de su agrado y se seguira mejorando para futuras entregas. Gracias por la atencion</p>
                </div>
            </div>
            </section>    
            <H2 class="tituloP">TREN SUPERIOR</H2>
            <div class="productsWrapper">
                <!-- Contenedores de productos -->
                <div class="products">
                    <img class="imgProducts" src="images/314TdVDGntL._AC_UL240_SR240,220_.jpg" >
                    <p>Producto 1</p>
                </div>
                <div class="products">
                    <img class="imgProducts" src="images/61OkK4nMyML._SLDPMOBCAROUSELAUTOCROP288221_MCnd_AC_SR462,693_.jpg" alt="Producto 2">
                    <p>Producto 2</p>
                </div>
                <div class="products">
                    <img class="imgProducts" src="images/413eR+MaubL._AC_SL1001_.jpg" alt="Producto 3">
                    <p>Producto 3</p>
                </div>
                <div class="products">
                    <img class="imgProducts" src="images/71rJv66HMVL._AC_UY1000_.jpg" alt="Producto 4">
                    <p>Producto 4</p>
                </div>
                <div class="products">
                    <img class="imgProducts" src="images/images.jpg" alt="Producto 5">
                    <p>Producto 5</p>
                </div>
                </div>
                <H2 class="tituloP"> TREN INFERIOR </H2>
                <div class="productsWrapper">  
                    <div class="products">
                        <img class="imgProducts" src="images/bermuda.jpg" alt="Producto 6">
                        <p>Producto 6</p>
                    </div>
                    <div class="products">
                        <img class="imgProducts" src="images/conjunto.jpeg" alt="Producto 7">
                        <p>Producto 7</p>
                    </div>
                    <div class="products">
                        <img class="imgProducts" src="images/leggis.jpg" alt="Producto 8">
                        <p>Producto 8</p>
                    </div>
                    <div class="products">
                        <img class="imgProducts" src="images/pantaloneta.jpg" alt="Producto 9">
                        <p>Producto 9</p>
                    </div>
                    <div class="products">
                        <img class="imgProducts" src="images/pantalon.jpg" alt="Producto 10">
                        <p>Producto 10</p>
                    </div>
                </div>    
                <h2 class="tituloP">BALONCESTO</h2>
                <div class="productsWrapper">  
                    <div class="products">
                        <img class="imgProducts" src="images/b1.jpg" alt="Producto 11">
                        <p>Producto 11</p>
                    </div>
                    <div class="products">
                        <img class="imgProducts" src="images/b2.jpg" alt="Producto 12">
                        <p>Producto 12</p>
                    </div>
                    <div class="products">
                        <img class="imgProducts" src="images/b3.jpg" alt="Producto 13">
                        <p>Producto 13</p>
                    </div>
                    <div class="products">
                        <img class="imgProducts" src="images/b4.jpg" alt="Producto 14">
                        <p>Producto 14</p>
                    </div>
                    <div class="products">
                        <img class="imgProducts" src="images/b5.jpg" alt="Producto 15">
                        <p>Producto 15</p>
                    </div>
                </div>    
                <h2 class="tituloP">FUTBOL</h2>
                <div class="productsWrapper">      
                    <div class="products">
                        <img class="imgProducts" src="images/f5.jpg" alt="Producto 15">
                        <p>Producto 16</p>
                    </div>
                    <div class="products">
                        <img class="imgProducts" src="images/f4.jpg" alt="Producto 15">
                        <p>Producto 17</p>
                    </div>
                    <div class="products">
                        <img class="imgProducts" src="images/f3.jpg" alt="Producto 15">
                        <p>Producto 18</p>
                    </div>
                    <div class="products">
                        <img class="imgProducts" src="images/f2.jpeg" alt="Producto 15">
                        <p>Producto 19</p>
                    </div>
                    <div class="products">
                        <img class="imgProducts" src="images/f1.jpeg" alt="Producto 15">
                        <p>Producto 20</p>
                    </div>
                </div>
        
            </div>
                <section class="moreInfo">
                    <article class="infoWrapper">
                        <i class="fas fa-biking"></i>
                        <br>
                        <br>
                        <p class="infoTitle">Más de 60 deportes</p>
                        <p> Encuentra más de 5.000 productos para hacer deporte en un solo lugar</p>
                    </article>
                    <article class="infoWrapper">
                        <i class="fas fa-box-open"></i>
                        <br>
                        <br>
                        <p class="infoTitle">Recoge en Tienda</p>
                        <p>¡Compra en decathlon.com.co y recoge tu pedido en 2 horas en tu tienda favorita!</p>
                    </article>
                    <article class="infoWrapper">
                        <i class="fas fa-retweet"></i>
                        <br>
                        <br>
                        <p class="infoTitle">Cambios y Devoluciones</p>
                        <p>Tienes 30 días para realizar tus cambios</p>
                    </article>
                    <article class="infoWrapper">
                        <i class="fas fa-truck"></i>
                        <br>
                        <br>
                        <p class="infoTitle">Métodos de Entrega</p>
                        <p>Conoce nuestros tiempos de entrega para las diferentes ciudades del país</p>
                    </article>
                </section>
        </main>
    <%- include('./partials/footer') %>
    <script type='text/javascript' src='/js/slider.js'></script>
</body>
</html>